<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBurger - Flex & Grid 2025</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Oswald:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for ('static', filename = '/css/produto.css') }}"
    />
    {% block css_adicional %}
    {% endblock %}
<!-- Incluir os links para CSS (pode ter mais arquivos ou arquivos com nomes diferentes) -->
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/cadastro_login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/variables.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/media.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/reset.css') }}" />
    
    <script src="./static/js/carrinho.js"></script>
  </head>
  <body>

<div class="layout">
    <main class="menu">
        <h2>Cardápio 🍔</h2>
        <div class="product-grid">
            <div class="card">
                <h3>Classic Burger</h3>
                <p>Pão, carne 160g e queijo.</p>
                <span>R$ 25.00</span>
                <button onclick="addToCart('Classic Burger', 25.00)">Adicionar</button>
            </div>
            <div class="card">
                <h3>Bacon Smash</h3>
                <p>Pão, 2x carnes 80g e muito bacon.</p>
                <span>R$ 32.00</span>
                <button onclick="addToCart('Bacon Smash', 32.00)">Adicionar</button>
            </div>
        </div>
    </main>

    <aside class="cart-sidebar">
        <h3>Seu Pedido 🛒</h3>
        <ul id="cart-items">
            </ul>
        <div class="cart-footer">
            <p>Total: <strong>R$ <span id="cart-total">0.10</span></strong></p>
            <button class="btn-finish" onclick="checkout()">Finalizar Pedido</button>
        </div>
    </aside>
</div>

  <!-- Header e Navbar -->
    <header class="header">
      <div class="header__container">
        {{ session.usuario_logado }}
        <a href="#" class="header__logo">DevBurger</a>

        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item">
              <a href="#" class="header__link">Home</a>
            </li>
            <li class="header__item">
              <a href="#menu" class="header__link">Cardápio</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Sobre</a>
            </li>
            <li class="header__item">
              <a href="#" class="header__link">Contato</a>
            </li>
          </ul>
        </nav>

        <div class="header__social">
          <a href="#" class="header__icon"
            ><span class="material-symbols-outlined">thumb_up</span></a
          >
          <a href="#" class="header__icon"
            ><span class="material-symbols-outlined">photo_camera</span></a
          >
        </div>

        <button class="header__toggle">
          <span class="material-symbols-outlined">menu</span>
        </button>
      </div>
    </header>
    
    {% block conteudo %} {% endblock %}

<!-- Rodapé -->
    <footer class="footer">
      <p class="footer__text">
        DevBurger © 2025. Todos os direitos reservados.
        {{session["usuario_logado"]}}
      </p>
    </footer>
  </body>
</html>